$grid-gutter-width: 14px;
$h1-font-size: 16px;
$h2-font-size: 14px;
$h3-font-size: 16px;
$headings-line-height: 1.4;
$lead-font-size: 15px;
$enable-shadows: true;
$body-bg: #f5f5f5;

@import "~bootstrap/scss/bootstrap";

#box {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 16px;
  }

  & > input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  h1 {
    cursor: default
  }

  p {
    cursor: pointer;
    color: $link-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.filter-box {
  height: 200px;
  background-color: #b8e9ff;
}

.box {
  background-color: #c3e1ff;
}

p {
  font-size: 14px;

  span {
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    margin-right: 8px;
    background-color: #ccc;
  }
}

#car-details {
  h1 {
    font-size: 24px;
  }

  ul {
    margin: 0px;
    padding-left: 25px;
  }

  .image {

  }

  .box {
    padding: 10px;
    background: #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

.area {
  height: 150px;
  background: lightskyblue;
  padding-top: 70px;
  text-align: center;
}

.error-box {
  color: white;
  border: 1px solid #ced4da;
  border-radius: 0.4rem;
}

.logOutLink {
  cursor: pointer;
}

.preview-title {
  background-color: #c1e2f7
}

.car-image-previews {
  img {
    &:first-of-type {
      padding-left: 0px !important;
    }
  }
}

.second-filter-box {
  background-color: #dae8f5;
}

.first-filter-box {
  background-color: #dae8f5;
}

.favourite-botton {
  cursor: pointer;

  &:hover {
    color: #f3f326;
  }

  &.active {
    color: #f3f326;
  }

  color: #f5f5f5;
}


.box {
  &.favourite {
    border: 4px solid #f3f326;
  }
}

.bg-light {
  background-color: #17a2b8 !important;
  color: white;
}

.navbar-light .navbar-nav .nav-link .navbar-text {
  color: white;
}