<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-COMPATIBLE"
          content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.ico">
</head>
<body>
    <div id="root"></div>
</body>
</html>